html, body, div, span, h1, h2, h3, p, img, i, ul, li, label,
footer, header, time, mark, audio, video {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  font-size: 62.5%;
}
body {
  height: 100%;
  font-size: 1.4rem;
  overflow: hidden;
}
#app {
  height: 100%;
  overflow: auto;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  .router-view {
    position: absolute;
    top: 5rem;
    right: 0;
    bottom: 4.6rem;
    left: 20rem;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fafafa;
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: #e1e1e2;
      &:hover {
        background-color: #cfcfd1;
      }
    }
  }
}
#app {
  #black {
    background-color: #16181c;
  }
}