.container-head {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 2rem 3rem;
  flex-flow: row nowrap;
  .list-logo {
    position: relative;
    width: 20rem;
    height: 20rem;
    margin-right: 2rem;
    text-align: center;
    background-color: #fff;
    border: 2px solid #ced6d7;
    div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      .week {
          font-size: 2rem;
          color: #6c6c6c;
        }
        .day {
          font-size: 8rem;
          color: #c62f2f;
        }
    }
  }
  .detail {
    flex-grow: 1;
    margin-left: 2rem;
    p {
      margin-bottom: 2rem;
    }
    .list-name {
      margin-left: 1rem;
      font-size: 24px;
      color: #666;
      vertical-align: middle;
    }
    .description {
      color: #666;
      font-size: 13px;
    }
  }
}
.music-list {
  width: 100%;
  margin-bottom: 5rem;
  li {
    height: 3rem;
    line-height: 3rem;
    cursor: default;
    &:hover {
      background-color: #ecedee;
    }
  }
  span {
    display: inline-block;
    margin-left: 1rem;
    font-size: 13px;
  }
  .music-list-head {
    box-sizing: border-box;
    color: #555;
    font-size: 13px;
    border-bottom: 1px solid #ced6d7;
    span {
      border-right: 1px solid #ced6d7;
      vertical-align: middle;
    }
    .space,
    .option {
      width: 5rem;
    }
    .space {
      height: 100%;
    }
    .music-title {
      width: 40rem;
    }
    .singer {
      width: 30rem;
    }
    .album-name {
      width: 35rem;
    }
    .duration {
      width: 5rem;
      border-right: 0;
    }
  }
  ul {
    .index,
    .option {
      width: 5rem;
      color: #777;
      vertical-align: top;
    }
    .index {
      text-align: right;
    }
    .music-title {
      width: 40rem;
    }
    .singer {
      width: 30rem;
      color: #777;
      cursor: pointer;
    }
    .album-name {
      width: 35rem;
      color: #777;
      cursor: pointer;
    }
    .duration {
      width: 5rem;
      color: #777;
      vertical-align: top;
    }
    .music-title,
    .album-name,
    .singer {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .alias {
      color: #888;
    }
    li:nth-child(odd) {
      background-color: #f5f5f7;
      &:hover {
        background-color: #ecedee;
      }
    }
  }
}
.loading {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5rem;
    text-align: center;
    > p {
      margin-top: 3rem;
    }
    .fa {
      color: #c62f2f;
      font-size: 30px;
    }
  }
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}
@media screen and (max-width: 1450px) {
  .music-list {
    .music-list-head {
      .music-title {
        width: 30rem;
      }
      .singer {
        width: 20rem;
      }
      .album-name {
        width: 25rem;
      }
    }
    ul {
      .music-title {
        width: 30rem;
      }
      .singer {
        width: 20rem;
      }
      .album-name {
        width: 25rem;
      }
      .duration {
        width: 5rem;
      }
    }
  }
}
#black {
  .list-name {
    color: #dbdde3;
  }
  .istag {
    color: #dbdde3;
  }
  .toggle-btn:hover {
    color: #dbdde3;
  }
  li {
      .music-title {
        color: #d6d7de;
      }
      &:hover {
        background-color: #242629;
        color: #d6d7de;
      }
    }
  .music-list-head {
    .music-title {
      color: #777;
    }
    color: #d6d7de;
    background: #16181c;
    border-bottom: 1px solid #22252a;
    span {
      border-right: 1px solid #22252a;
    }
  }
  ul {
    .index,
    .option {
      color: #777;
    }
    .singer {
      color: #777;
    }
    .album-name {
      color: #777;
    }
    .duration {
      color: #777;
    }
    li:nth-child(odd) {
      background-color: #1b1c20;
      &:hover {
        background-color: #242629;
      }
    }
  }
  .loading {
    p {
      color: #a4a4a4;
    }
  }
}