.music-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 4.6rem;
  line-height: 4.6rem;
  background-color: #f6f6f8;
  border-top: 1px solid #e4e4e4;
  .footer-left {
    display: inline-block;
    > span {
      display: inline-block;
      border-radius: 50%;
      background-color: #e83c3c;
      cursor: pointer;
      &:hover {
        background-color: #d33030;
      }
      i {
        color: #fff;
      }
    }
    .back,
    .next {
      height: 3rem;
      width: 3rem;
      margin: {
        left: 2rem;
        right: 2rem;
      }
      line-height: 3rem;
      text-align: center;
    }
    .back {
      margin-left: 3rem;
    }
    .next {
      margin-right: 3rem;
    }
    .play-pause {
      height: 3.5rem;
      width: 3.5rem;
      line-height: 3.5rem;
      text-align: center;
      .fa-play {
        margin-left: 2px;
        font-size: 1.8rem;
        vertical-align: middle;
      }
    }
  }
  .time {
    font-size: 1.2rem;
    color: #555;
  }
  .value {
    margin-left: 1.8rem;
    color: #666;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    &:hover {
      color: #444;
    }
  }
  .play-state {
    .fa {
      font-size: 1.8rem;
      color: #666;
      vertical-align: middle;
      cursor: pointer;
      &:hover {
        color: #444;
      }
    }
  }
  .list-icon {
    position: absolute;
    left: -1.7rem;
    top: 0;
    vertical-align: middle;
  }
  .fa-file-text-o {
    font-size: 1.8rem;
    vertical-align: middle;
    color: #686868;
  }
  .list-num {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 4rem;
    height: 2rem;
    margin-left: 2rem;
    line-height: 2rem;
    text-align: center;
    font-size: 1.2rem;
    color: #686868;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #e1e1e2;
    cursor: pointer;
    &:hover .fa-file-text-o {
      color: #4f4f4f;
    }
  }
  .list-dialog {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-100%);
    width: 55rem;
    height: 60rem;
    background-color: #fff;
    border: 2px solid #cac8ca;
    box-shadow: 0 0 5px #aaa;
    overflow-y: auto;
    z-index: 5;
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: #e1e1e2;
      &:hover {
        background-color: #cfcfd1;
      }
    }
    .list-head {
      position: relative;
      height: 4rem;
      text-align: center;
      line-height: 4rem;
      background-color: #f5f5f7;
      > span:first-child {
        display: inline-block;
        height: 2.5rem;
        width: 10rem;
        font-family: "SimSun";
        text-align: center;
        line-height: 2.5rem;
        vertical-align: middle;
        color: #fff;
        border-radius: 4px;
        background-color: #7c7d85;
      }
      > span:last-child {
        position: absolute;
        right: 2rem;
        color: #6d6d6d;
        cursor: pointer;
      }
    }
    .info {
      height: 2.8rem;
      font-size: 1.3rem;
      color: #7c7c7c;
      line-height: 2.8rem;
      background-color: #f9f9f9;
      .fa {
        font-size: 1.6rem;
      }
      > span:first-child {
          display: inline-block;
          box-sizing: border-box;
          width: 47rem;
          padding-left: 5rem;
          text-align: left;
        }
        > span:last-child {
          display: inline-block;
          width: 5rem;
          text-align: left;
        }
      > span:last-child:hover {
        cursor: pointer;
        color: #565656;
      }
    }
    ul {
      li {
        height: 2.8rem;
        font-size: 1.3rem;
        line-height: 2.8rem;
        background-color: #fafafa;
        cursor: pointer;
        &:hover {
          background-color: #ecedee;
        }
        .name,
        .singer {
          display: inline-block;
          width: 10rem;
          overflow-x: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          vertical-align: top;
        }
        .name {
          display: inline-block;
          box-sizing: border-box;
          width: 35rem;
          padding-left: 5rem;
          text-align: left;
        }
        .singer {
          display: inline-block;
          width: 12rem;
          text-align: left;
        }
        .singer,
        .duration {
          color: #888;
        }
      }
      li:nth-child(even) {
        background-color: #f5f5f7;
        &:hover {
          background-color: #ecedee;
        }
      }
    }
    .no-song {
      margin-top: 20rem;
      text-align: center;
      line-height: normal;
      color: #b0b0b0;
      span {
        cursor: pointer;
        color: #000;
        text-decoration: underline;
      }
    }
  }
}
#black {
  background-color: #222225;
  border-top: 1px solid #232327;
  .footer-left {
    >span {
      background-color: #3c3c3f;
    }
  }
  .value,
  .fa {
    &:hover {
      color: #fff;
    }
  }
  .list-num {
    color: #cacbd2;
    background-color: #2c2c2f;
  }
  .list-dialog {
    background-color: #282a2f;
    border: 2px solid #282a2f;
  }
  .list-head {
    background-color: #282a2f;
  }
  .info {
    color: #7a7a7d;
    background-color: #2d2f33;
    > span:last-child:hover {
      color: #fff;
    }
  }
  li {
    .name{
      color: #d7d8df;
    }
    background-color: #2d2f33;
    &:hover {
      .name,
      .singer,
      .duration {
        color: #d7d8df;
      }
      background-color: #333539;
    }
  }
  li:nth-child(even) {
    background-color: #313337;
    &:hover{
      color: #d7d8df;
      background-color: #333539;
    }
  }
  .no-song {
    span {
      color: #cccdd4;
    }
  }
}