.lyrics-container {
  position: relative;
  height: 73%;
  margin-top: 3rem;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 13px;
  &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: #cecece;
      &:hover {
        background-color: #aeaeae;
      }
  }
  p {
    margin: {
      top: 1.5rem;
      bottom: 1.5rem;
    }
  }
  .now {
    color: #ededee;
  }
  .no-lyric {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 14px;
  }
}