.search-song-list-container {
  .playlist {
    list-style: none;
    li {
      height: 6rem;
      line-height: 6rem;
      padding: 0 3.5rem;
      cursor: pointer;
      font-size: 13px;
      &:hover {
        background-color: #ecedee;
      }
    }
    .playlist-logo {
      width: 4rem;
      height: 4rem;
      margin-right: 1rem;
      border: 1px solid #ced6d7;
      vertical-align: middle;
    }
    .playlist-name {
      display: inline-block;
      width: 50rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: middle;
    }
    .track-count {
      display: inline-block;
      width: 20rem;
      color: #888;
    }
    .creator {
      color: #777;
      &:hover {
        color: #222;
      }
    }
    li:nth-child(even) {
      background-color: #f5f5f7;
      &:hover {
        background-color: #ecedee;
      }
    }
  }
  .page {
    margin-top: 3rem;
    margin-bottom: 4rem;
    text-align: center;
    ul {
      list-style: none;
      .fa {
        color: #646464;
        font-size: 14px;
        vertical-align: middle;
      }
      li {
        display: inline-block;
        height: 2.4rem;
        padding: 0 .9rem;
        color: #a4a4a4;
        line-height: 2.4rem;
        text-align: center;
        font-size: 12px;
        border: 1px solid transparent;
        cursor: pointer;
        &:hover {
          color: #646464;
          border: 1px solid #c3c4c7;
          background-color: #ecedf1;
        }
      }
      .pre-btn,
      .next-btn {
        border: 2px solid #e9e9e9;
        &:hover {
          border: 2px solid #e9e9e9;
        }
      }
      .apostrophe {
        cursor: default;
        &:hover {
          border: 1px solid transparent;
          background-color: transparent;
        }
      }
      .active {
        color: #c62f2f;
        text-decoration: underline;
        border: none;
        cursor: default;
        &:hover {
          color: #c62f2f;
          background-color: transparent;
          border: none;
        }
      }
    }
  }
}
@media screen and (max-width: 1450px) {
  .search-song-list-container {
    .playlist {
      list-style: none;
      .playlist-name {
        width: 40rem;
      }
    }
  }
}
#black {
  .playlist {
    li {
      color: #c2d1dc;
      background: #16181c;
      img {
        border: 1px solid transparent;
      }
      .alias {
        font-size: 13px;
        color: #888;
      }
      &:hover {
        background-color: #242629;
      }
    } 
    li:nth-child(even) {
      background-color: #1b1d20;
      &:hover {
        background-color: #242629;
      }
    }
  }
  .page {
    ul {
      .fa {
        color: #7a7b7d;
      }
      li {
        color: #a4a4a4;
        &:hover {
          color: #fff;
          border: 1px solid #1f2227;
          background-color: #282b32;
        }
      }
      .pre-btn,
      .next-btn {
        border: 2px solid #1f2227;
        &:hover {
          border: 2px solid #1f2227;
        }
      }
      .active {
        color: #c62f2f;
        &:hover {
          color: #c62f2f;
        }
      }
    }
  }
}