.sidebar {
  position: absolute;
  top: 5rem;
  bottom: 4.6rem;
  width: 20rem;
  border-right: 1px solid #e1e1e2;
  background-color: #f5f5f7;
  .sidebar-list {
    height: 90%;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: #e1e1e2;
      &:hover {
        background-color: #cfcfd1;
      }
    }
  }
  .sidebar-head {
    position: relative;
    padding-left: 1rem;
    height: 3.2rem;
    line-height: 3.2rem;
    font-size: 1.3rem;
    text-align: left;
    color: #898989;
    cursor: pointer;
    .fa {
      margin-left: 10rem;
      font-size: 1.8rem;
      &:hover {
        color: #000;
      }
    }
  }
  ul {
    li {
      box-sizing: border-box;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
      height: 3rem;
      padding-left: 2rem;
      font-size: 1.3rem;
      line-height: 3rem;
      color: #5e5e5e;
      vertical-align: middle;
      cursor: pointer;
      &:hover {
        color: #000;
      }
      .fa {
        font-size: 1.8rem;
        margin-right: 1rem;
      }
    }
  }
  .preview {
    position: relative;
    height: 10%;
    border-top: 1px solid #e1e1e2;
    &:hover .shadow {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .musicImg,
    .shadow {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 6.5rem;
      cursor: pointer;
    }
    .shadow {
      display: none;
      text-align: center;
      font-size: 3rem;
      color: #ddd;
      background: rgba(0, 0, 0, .3);
    }
    .info {
      display: flex;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 100%;
      width: 12rem;
      flex-direction: column;
      justify-content: center;
      color: #474747;
      > div {
        display: flex;
        box-sizing: border-box;
        width: 12rem;
        padding-right: 1rem;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        > span {
          display: inline-block;
          width: 10rem;
          overflow-x: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          vertical-align: middle;
          cursor: pointer;
        }
        .singer {
          font-size: 1.2rem;
        }
        .fa {
          color: #a8a8a8;
          cursor: pointer;
        }
        .fa-heart {
          color: #e83c3c;
        }
      }
    }
  }
}
#black {
  .sidebar-head {
    position: relative;
    padding-left: 1rem;
    height: 3.2rem;
    line-height: 3.2rem;
    font-size: 1.3rem;
    text-align: left;
    color: #898989;
    cursor: pointer;
    .fa {
      &:hover {
        color: #fff;
      }
    }
  }
  ul {
    li {
      &:hover {
        color: #fff;
      }
    }
  }
  .preview {
    border-top: solid 1px #22252b;
    .info {
      color: #c8c9d0;
    }
  }
}